<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/defaultLayout"
>
<head>
	<meta charset="UTF-8"/>
    <title>Dispatchd</title>
</head>
<body>

<div th:fragment="content" layout:fragment="content">
	<div class="errorText" style="color:red;" th:if="${errorMessage}" th:text="${errorMessage}">jk
	</div>
	<h1>Importer</h1>
	<form name="sendImportRequest" method="post" action="import.html" th:action="@{/import}">
		<label for="urlInput" th:text="#{import.importMessage}"></label>
		<input type="url" name="mediaUrlToImport" th:placeholder="#{import.urlPlaceholder}" id="urlInput"/>
		<input type="submit"/>
	</form>
</div>
</body>
</html>
