<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/defaultLayout">
<head>
	<title></title>
</head>
<body>
<!--
	<div class="container" layout:fragment="content">
	<p>Please confirm that you wish to logout.</p>
	<form action="/logout" method="post">
		<input type="submit" name="submit" value="Log out" />
	</form>
</div>
-->
</body>
</html>
